{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<!-- TEMPLATE: {% template_filename %} -->
{% firstof notAcontextVariable "Tradlos" as site_name %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <meta http-equiv="content-language" content="en">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <title>{% block title %}{{ site_name }}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/minimum.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}" />
  <style type="text/css" >
    main    { float: left; width: 100%; }
  </style>
  <style type="text/css" >{% block styles %}{% endblock %}  </style>
  <script src="{% static 'common/js/classList.js' %}"></script>
  <script src="{% static 'common/js/starter.js' %}"></script>
  {% block scripts %}{% endblock %}
</head>
<body>
  <header class="group">{% block header %}
    <div class="personalization">{% block personalization %}
      {% if request.user.is_anonymous %}
        <a href="{% url 'entry' %}"><span class="icon">&#9094;</span></a>{% else %}
        <a id="user_menu"><span class="ident {% user_class %}">{% user_initials %}</span></a>
        <ul class="hidden">{% if request.user.is_staff %}
          <li><a href="/admin/">Admin</a></li>{% endif %}
          <li><a href="#">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
      {% endif %}
    {% endblock personalization %}</div>
    <div class="branding">{% block branding %}
      <span class="icon" >&#8251;</span>
      <span class="text">{{site_name}}</span>
    {% endblock branding %}</div>
  {% endblock header %}</header>
  <main>{% block contents %}{% endblock contents %}  </main>
  <footer>{% block footer %}{% endblock footer %}</footer>
</body>
</html>